
.title-about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/41.jpg);
}

.title-about h1 
{
        font-size: 10rem;
        background-image: linear-gradient(130deg, #fff, #f0f0f0, #CCCCCC);
        color: transparent;
        background-clip: text;
        background-position: center;
        background-size: cover;
        -webkit-background-clip: text;
        font-weight: 700;
        text-transform: uppercase;
}
section
{
    padding: 5rem 9%;
}

span
{
    color: var(--main-color);
}
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    margin-bottom: 5rem;
    outline: hidden;
    min-height: 100vh;
}

.about-content
{
    max-width: 100%;
}
.about-img img {
    width: 40vw;
    height: 100vh;
    position: relative;
    background-size: 250%;
    transform: translate(-70px);
}
.heading
{
    font-size: 2.4rem;
    text-align: center;
}
.about-content h1
{
    color: var(--main-color);
    font-size: 5rem;
    margin-bottom: 2rem;
}
.about-content h2
{
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.about-content h3
{
    font-size: 2.6rem;
}
.about-content p
{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    word-spacing: 1px;
}
.tab-titles
{
    display: flex;
    flex-wrap: wrap;
}
.tab-titles .tab-links
{
    margin-right: 50px; 
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-bottom: 4rem;
    color: var(--green);
}
.tab-titles .tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .4s;
}
.tab-titles .tab-links.active-link::after
{
    width: 100%;
}
.tab-contents ul li
{
    list-style: none;
    margin: 1rem 0 2.5rem;
    font-size: 1.4rem;
}
.tab-contents ul li span
{
    font-size: 2rem;
}
.tab-contents
{
    display: none;
}
.tab-contents.active-tab
{
    display: block;
}
.about2 
{
    padding: 0;
    overflow: hidden;
}
.about2 h1 
{
    text-align: center;
    margin-bottom: 8rem;
    font-size: 4.4rem;
    color: var(--main-color);
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 40%;
}

.container div {
    flex-basis: 100px;
}

.container div i {
    font-size: 3rem;
    padding: 1.5rem;
    background: var(--main-color);
    border-radius: 50%;
}

.container div:first-child i {
    margin-right: 10px;
}

.container div span {
    font-size: 2.4rem;
    color: var(--green);
    margin-left: 20px;
}
.container div p 
{
    font-size: 2.2rem;
}

.about-content h1
{
    color: var(--main-color);
    font-size: 5rem;
    margin-bottom: 2rem;
}
.about-content h2
{
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.about-content h3
{
    font-size: 2.6rem;
}
.about-content p
{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    word-spacing: 1px;
}
.wrapper 
{
    min-height: 70vh;
    width: 100%;
    margin-top: 10rem;
    background: var(--second-bg-color);
}
.wrapper h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
    color: var(--main-color);
    
}
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    scrollbar-width: none;
    overflow-x: auto;
    border-radius: 1rem;
}

.wrapper .carousel
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 1rem;
}
.carousel :where(.card, .img)
{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.carousel .card 
{
    border-radius: 1rem;
    height: 342px;
    width: 250px;
    list-style: none;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.card .img
{
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin-top: 40px; 
    border: 5px solid var(--bg-color);
}
.card .img img 
{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.card p 
{
    font-size: 1.9rem;
    
}
.social a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 2rem 1.3rem 3rem 0;
    font-size: 2.2rem;
}
.social a:hover
{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    transition: .3s ease;
}

@media(max-width: 1200px)
{
    html
    {
        font-size: 55%;
    }
    .tab-titles .tab-links 
    {
        margin-right: 100px;
        font-size: 2rem; 
    }
}
@media(max-width: 991px)
{
.about
{
    flex-direction: column;
}
.about img 
{
    width: 100%;
    height: 100vw;
    transform: translate(0px);
}
.title-about h1 
{
    font-size: 7rem;
}
}

@media (max-width: 768px) {
    .container div {
     /* Adjust the width for smaller screens */
        margin-top: 20px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .container div i {
        font-size: 2rem;
        padding: 1rem;
        margin: 0;
    }

    .container div:first-child i {
        margin-right: 0px;
    }

    .container div:nth-child(2) i {
        margin-right: 0px;
    }

    .container div span {
        font-size: 1.8rem;
        margin-left: 10px;
    }
    .container div p
    {
        font-size: 2rem;
        margin-left: 20px;
    }
}
@media(max-width: 560px)
{

    
    .container
    {
        flex-direction: column;
    }
    .content
    {
        width: auto;
    }
    .content i 
    {
        font-size: 2rem;
        padding: 1.3rem;
    }
    .content span 
    {
        font-size: 2rem;
        
    }
    .content p 
    {
        font-size: 1.9rem;
    }
    .about2 h1 
    {
        font-size: 3rem;
    }
    .wrapper h1 
    {
        font-size: 3.2rem;
    }
}
@media(max-width: 455px)
{
    html 
    {
        font-size: 45%;
    }
}
@media(max-width: 300px)
{
    .title-about h1 
    {
        font-size: 5rem;
    }
}