section
{
    padding: 5rem 9%;
}

.home
{
    padding: 0;
    margin-top: 2rem;
}
.swiper-slide
{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
}
.content
{
    width: 60rem;
}
span
{
    font-size: 2.4rem;
    color: var(--main-color);
    display: block;
    font-weight: 600;
}
.content h3
{
    font-size: 4rem;
    color: #fff;
    padding: 1rem 0;
    font-weight: 600;
    text-transform: capitalize;
}
.swiper-pagination-bullet
{
    height: 1rem;
    width: 1rem;

    background: #fff;
    &.swiper-pagination-bullet-active
    {
        background: var(--main-color);
    }
}


.home-section2
{
    width: 100%;
    background: var(--bg-color);
}
.home-section2 h3
{
    text-align: center;
    margin: 2.5rem;
    font-size: 3.5rem;
    color: var(--main-color);
    text-transform: capitalize;
}
.home-section2 p 
{
    font-size: 2rem;
    text-align: center;
    text-wrap: wrap;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 4fr));
    gap: 1rem;
    margin-top: 10rem;
    margin-bottom: 10rem
}

.container .box{
    text-align: center;
    padding: 3rem 2rem;
    background: #fff; /* Set the background color to white */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    width: 270px;
    cursor: pointer;
    transition: .3s ease;
    border: 2px solid var(--main-color);
}

 .container .box img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.container .box:hover
{
    box-shadow: 0 0 1rem var(--main-color);
    transform: scale(1.03);
}

.container .box h4 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
    margin-top: 5rem;
}

.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    margin-bottom: 5rem;
    outline: hidden;
    min-height: 100vh;
}

.about-content
{
    margin-left: 50px;
    max-width: 100%;
}
.about-img img {
    width: 35vw;
    position: relative;
    background-size: 250%;
    transform: translate(-70px);
    border: 10px solid var(--main-color);
    transition: opacity 0.5s; /* Add a 0.5-second opacity transition */
}
.heading
{
    font-size: 2.4rem;
    text-align: center;
}
.about-content h1
{
    color: var(--main-color);
    font-size: 5rem;
    margin-bottom: 2rem;
}
.about-content h2
{
    text-align: left;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.about-content h3
{
    font-size: 2.6rem;
}
.about-content p
{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    word-spacing: 1px;
}












@media(max-width: 1500px)
{
    .container
    {
        grid-template-columns: repeat(4, 1fr);
    }
    .container .box
    {
        width: 200px;
    }
  
}

@media(max-width: 991px)
{
    section 
    {
        padding: 3rem 2rem;
    }
    .home .swiper-slide
    {
        padding: 2rem 5%;
    }
    .content
    {
        width: 50rem;
    }
    .content h3 
    {
        font-size: 3.6rem;
    }
    .container
    {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .container .box
    {
        width: 100%;
    }
}
@media(max-width: 455px)
{
    .container
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .swiper-slide
    {
        min-height: 70vh;
    }
    .about
    {
        flex-direction: column;
    }
    .about img 
    {
        transform: translate(0px);
        width: 100%;
    }
}
